    <!-- <footer class="fixed-bottom" style="height: auto;">
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <p>©2023-2025 SM Links. All Rights Reserved</p>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            
        </div>
    </footer> -->


<!-- 
    <footer class="footer position-sticky fixed-bottom text-center">
        
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>

            <a href="/" class="fw-small">
                ©2023-2025 SM Links. All Rights Reserved
            </a>
    
    </footer> -->

    <footer class="footer text-black-70 text-center py-3">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <a href="/" class="fw-small text-black-70">
            ©2023-2025 SM Links. All Rights Reserved
        </a>
    </footer>